.contact {
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.contact h1 {
  text-align: center;
  margin-bottom: 15px;
}

.contact p {
  line-height: 1.5; /* Increase line spacing for readability */
  margin-bottom: 10px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.socialIcon {
  font-size: 2rem;
  margin: 0 10px;
  color: #333;
  transition: color 0.3s;
}

.socialLinks a:hover .socialIcon {
  color: #ddd;
}
