.gallery {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Responsive grid */
  grid-gap: 20px;
  width: 90%;
  max-width: 1200px;
}
.loader {
  text-align: center;
  padding: 20px;
}
